<!DOCTYPE html>
<html lang="en">

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
    
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      
        <!-- Title -->
        <title>Musica - Music Studio</title>
    
        <!-- Favicon -->
        <link rel="icon" href="static/img/core-img/favicon.ico">
    
        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static' , filename='style.css')}}">
    
    </head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="static/img/core-img/compact-disc.png" alt="">
        </div>
    </div>

       <!-- ##### Header Area Start ##### -->

        <!-- ##### Navigation bar ##### -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Musica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('aboutUs')}}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('concertTours')}}">Concert & Tours</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact')}}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('elements')}}">Our Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog')}}">News</a>
              </li>
           
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<!-- ##### Navigation bar ##### -->






    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url(static/img/bg-img/breadcumb5.jpg);">
        <div class="bradcumbContent">
            <h2>Join With Us</h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <section class="elements-area mt-30 section-padding-100-0">
        <div class="container">
            <div class="row">

                

               



                <!-- ========== Loaders ========== -->
                <div class="col-12">
                    <div class="elements-title mb-50">
                        <h2>Our Progress</h2>
                    </div>
                </div>

                <div class="col-12">
                    <!-- Loaders Area Start -->
                    <div class="our-skills-area">
                        <div class="row">

                            <!-- Single Skills Area -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-skils-area mb-100">
                                    <div id="circle" class="circle" data-value="0.75">
                                        <div class="skills-text">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                    <h5>Festivals</h5>
                               
                                </div>
                            </div>

                            <!-- Single Skills Area -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-skils-area mb-100">
                                    <div id="circle2" class="circle" data-value="0.83">
                                        <div class="skills-text">
                                            <span>83%</span>
                                        </div>
                                    </div>
                                    <h5>Concerts</h5>
                                   
                                </div>
                            </div>

                            <!-- Single Skills Area -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-skils-area mb-100">
                                    <div id="circle3" class="circle" data-value="0.25">
                                        <div class="skills-text">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <h5>Conference</h5>
                                    
                                </div>
                            </div>

                            <!-- Single Skills Area -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-skils-area mb-100">
                                    <div id="circle4" class="circle" data-value="0.82">
                                        <div class="skills-text">
                                            <span>82%</span>
                                        </div>
                                    </div>
                                    <h5>Recording</h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========== Milestones ========== -->
                <div class="col-12">
                    <div class="elements-title mb-50">
                        <h2>Milestone</h2>
                    </div>
                </div>

                <div class="col-12">
                    <div class="musica-cool-facts-area">
                        <div class="row">

                            <!-- Single Cool Facts -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-cool-fact d-flex align-items-end mb-100">
                                    <div class="scf-icon">
                                        <img src="static/img/core-img/microphone.png" alt="">
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">149</span></h2>
                                        <p>Concerts/Year</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Cool Facts -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-cool-fact d-flex align-items-end mb-100">
                                    <div class="scf-icon">
                                        <img src="static/img/core-img/compact-disc.png" alt="">
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">439</span>k</h2>
                                        <p>Cd’s Sold</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Cool Facts -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-cool-fact d-flex align-items-end mb-100">
                                    <div class="scf-icon">
                                        <img src="static/img/core-img/controls.png" alt="">
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">245</span></h2>
                                        <p>Amazing Ideas</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Cool Facts -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-cool-fact d-flex align-items-end mb-100">
                                    <div class="scf-icon">
                                        <img src="static/img/core-img/calendar.png" alt="">
                                    </div>
                                    <div class="scf-text">
                                        <h2><span class="counter">128</span></h2>
                                        <p>Calendar Events</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

               
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-service-area mb-100">
                                <div class="course-title d-flex align-items-end">
                                    <span>01</span>
                                    <h4>Great Support</h4>
                                </div>
                               
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-service-area mb-100">
                                <div class="course-title d-flex align-items-end">
                                    <span>02</span>
                                    <h4>Great Outcome</h4>
                                </div>
                               
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-service-area mb-100">
                                <div class="course-title d-flex align-items-end">
                                    <span>03</span>
                                    <h4>Creative</h4>
                                </div>
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Elements Area End ***** -->

    <!-- ##### CTA Area Start ##### -->
    <div class="musica-cta-area section-padding-100 bg-img bg-overlay2" style="background-image: url(img/blog-img/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex justify-content-between align-items-center">
                        <div class="cta-text">
                            <h4>Contact us now</h4>
                            <h2>Do you have a question?</h2>
                            
                        </div>
                        <div class="cta-btn">
                            <a href="#" class="btn musica-btn">elements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">

                

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-xl-2">
                    <div class="footer-widget-area mb-100">
                        <div class="widget-title">
                            <h4>About</h4>
                        </div>
                        <nav>
                            <ul class="footer-nav">
                                <li><a href="{{ url_for('index')}}">Home</a></li>
                                <li><a href="{{ url_for('aboutUs')}}">About Us</a></li>
                                <li><a href="{{ url_for('concertTours')}}">Concert &amp; Tours</a></li>
                                <li><a href="{{ url_for('blog')}}">News</a></li>
                                <li><a href="{{ url_for('contact')}}">Contact</a></li>
                                <li><a href="{{ url_for('elements')}}">Our Progress</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>


         <!-- Footer Widget Area -->
         <div class="col-12 col-sm-4 col-xl-2">
            <div class="footer-widget-area mb-100">
                <div class="widget-title">
                    <h4>Social</h4>
                </div>
                <nav>
                    <ul class="footer-nav">
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="https://twitter.com/">Twitter</a></li>
                        <li><a href="https://dribbble.com/">Snapchat</a></li>
                        <li><a href="https://www.behance.net/">Instagram</a></li>
                    </ul>
                </nav>
            </div>
        </div>



            </div>
        </div>

    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
</body>

</html>