<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
    <!-- Title -->
    <title>{{ title }} - Microblog</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css')}}">





   





</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="static/img/core-img/compact-disc.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->

       <!-- ##### Navigation bar ##### -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Musica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('aboutUs')}}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('concertTours')}}">Concert & Tours</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact')}}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('elements')}}">Our Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog')}}">News</a>
              </li>
           
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<!-- ##### Navigation bar ##### -->




<!-- ##### carouselr ##### -->

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/img/bg-img/bg-3.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Musica</h1>
                <p>Audio & Video Studio</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/img/bg-img/bg-4.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Musica</h1>
                <p>DJ and Music Band</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/img/bg-img/bg-1.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Musica</h1>
                <p>Contact Us</p>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
<!-- ##### carouselr ##### -->


    <!-- ##### Hero Area End ##### -->






  <!-- ##### New API ##### -->

<!-- API -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
  
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  
  </script>
  
  
  
  <script type=text/javascript>
  
    $(function() {
  
      $('a#calculate').bind('click', function() {
  
        $.getJSON($SCRIPT_ROOT + '/search', {
  
          a: $('input[name="a"]').val()
  
        }, function(data) {
  
          $("#result").text(data.result.name);
  
        });
  
        return false;
  
      });
  
    });
  
  </script>

  


  



<!-- ##### Ne API ##### -->







    

    <!-- ##### About Us Area Start ##### -->
    <div class="about-us-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(static/img/bg-img/bg-4.jpg);" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Our Crew</h2>
                    </div>
                </div>
            </div>



            <!-- ##### Crew Memeber 1 ##### -->
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="static/img/bg-img/team1.jpg" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-content mb-100">

                         <!-- Twitter API -->
                        <h4>Hello, It’s Guruge<a href="https://twitter.com/search?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @search</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- linkedin API -->
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="https://www.linkedin.com"></script>
                    </h4>
                        <p>"I grew up with the guitar and the guitar speaks at this concert" says Nadeeka on his concerts titled Nostal Guitar Electrica 2015 and 'Echo in the Mountains'.
                            Guruge started as a young musician researching in 1999. His first serious musical work was "Sanyugma" a folk and applied music production with Marcello Titto Li, a Bolivian folk musician, in 1999.Since then he has been working in movies, tele dramas, stage dramas, songs and advertising.</p>
                              <!-- Facebook API -->

                            <div class="fb-page" data-href="https://www.facebook.com/Guruge.Nadeeka/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Guruge.Nadeeka/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Guruge.Nadeeka/">Nadeeka Guruge</a></blockquote></div>
                       
                            
                        </div>
                </div>
            </div>
             <!-- ##### End Crew Memeber 1 ##### -->



              <!-- ##### Crew Memeber 2 ##### -->
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="static/img/bg-img/team2.jpg" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-content mb-100">
                         <!-- Twitter API -->
                        <h4>Hello, It’s Perera<a href="https://twitter.com/LaSignore?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @LaSignore</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                         <!-- linkedin API -->
                         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                         <script type="IN/Share" data-url="https://www.linkedin.com"></script>
                        
                        </h4>
                        <p> Lahiru Perera born 18 April 1984 also known by his stage name La Signore is a Sri Lankan singer, musician and music producer who came to limelight with his 2008 breakthrough Hit single "Rambari".He was born and raised in Kehelbaddara, Udugampola.</p>
                         <!-- Facebook API -->
                        <div class="fb-page" data-href="https://www.facebook.com/LaSignoreMusic/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/LaSignoreMusic/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LaSignoreMusic/">La Signore</a></blockquote></div>
                    </div>
                </div>
            </div>
             <!-- ##### End Crew Memeber 2 ##### -->




              <!-- ##### Crew Memeber 3 ##### -->
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="static/img/bg-img/team3.jpg" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-content mb-100">
                        <h4>Hello, It’s Ashanthi
                            <!-- linkedin API -->
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://www.linkedin.com"></script></h4>
                        <p>Ashanthi's first major label album was as half of the duo Ashanthi n' Ranidu, with the album Oba Magemai released in 2006 through M Entertainments.Her debut solo album Sandawathuren was released in 2006.This was the first hip hop solo album to be released by a Sri Lankan female.Her general style of music is ethnic hip hop with massive market appeal. Sandawathuren was sung in Sinhala, with the exception of two English songs.

                        </p>
                         <!-- Facebook API -->
                        <div class="fb-page" data-href="https://www.facebook.com/ashanthilive/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/ashanthilive/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ashanthilive/">Ashanthi de Alwis</a></blockquote></div>
                    </div>
                </div>
            </div>
             <!-- ##### End Crew Memeber 3 ##### -->





              <!-- ##### Crew Memeber 4 ##### -->
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="static/img/bg-img/team4.jpg" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-content mb-100">
                         <!-- Twitter API -->
                        <h4>Hello, It’s B&S<a href="https://twitter.com/intent/tweet?screen_name=bnsmusic&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @bnsmusic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- linkedin API -->
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="https://www.linkedin.com"></script></h4>                     

                        <p>Bathiya & Santhush (Sinhala: බාතිය හා සන්තුෂ්), also known as BNS, are a Sri Lankan pop duo consisting of Bathiya Jayakody (born on December 22, 1976) and Santhush Weeraman (born on September 5, 1977), who met while at the "Mary Anne David School of Vocal Music" in Colombo (training mainly under the categories of classical and show tunes). They both were born in Colombo, Sri Lanka. They have been one of the most commercially successful music acts in Sri Lanka in the last two decades</p>
                        <!-- Facebook API -->
                        <div class="fb-page" data-href="https://www.facebook.com/bnsmusic1/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/bnsmusic1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bnsmusic1/">Bathiya and Santhush (BNS)</a></blockquote></div>
                  
                        
                    </div>

                </div>
            </div>
             <!-- ##### End Crew Memeber 4 ##### -->




              <!-- ##### Crew Memeber 5 ##### -->
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="static/img/bg-img/team5.jpg" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-content mb-100">
                         <!-- Twitter API -->
                        <h4>Hello, It’s Tim <a href="https://twitter.com/Avicii?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Avicii</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- linkedin API -->
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="https://www.linkedin.com"></script></h4>

                        <p>Tim Bergling (Swedish: ; 8 September 1989 – 20 April 2018), known professionally as Avicii (/əˈviːtʃi/ ə-VEE-chee, Swedish: [aˈvɪ̌tːɕɪ]), was a Swedish DJ, electronic musician, and songwriter who specialized in audio programming, remixing, and record producing.

                            At the age of 16, Bergling began posting his remixes on electronic music forums, which led to his first record deal.[5] He rose to prominence in 2011 with his single "Levels". His debut studio album, True (2013), blended electronic music with elements of multiple genres and received generally positive reviews.</p>
                            
                            <!-- Facebook API -->
                            <div class="fb-page" data-href="https://www.facebook.com/avicii/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/avicii/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/avicii/">Avicii</a></blockquote></div>
                        
                        </div>

                </div>
            </div>
             <!-- ##### End Crew Memeber 5 ##### -->



        </div>
    </div>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Upcoming Shows Area Start ##### -->
    <div class="upcoming-shows-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Upcoming shows</h2>
                        <h6>Be there</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Upcoming Shows Content -->
                    <div class="upcoming-shows-content">

                        <!-- Single Upcoming Shows -->
                        <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
                            <div class="shows-date">
                                <h2>17 <span>July</span></h2>
                            </div>
                            <div class="shows-desc d-flex align-items-center">
                                <div class="shows-img">
                                    <img src="static/img/bg-img/s1.jpg" alt="">
                                </div>
                                <div class="shows-name">
                                    <h6>Electric castle Festival</h6>
                                    <p>Cluj, Romania</p>
                                </div>
                            </div>
                            <div class="shows-location">
                                <p>At the Castle</p>
                            </div>
                            <div class="shows-time">
                                <p>20:30</p>
                            </div>
                            <div class="buy-tickets">
                                <!-- Facebook API -->
                                <div id="fb-root"></div>
                                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
                                <div class="fb-share-button" data-href="https://avicii.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Favicii.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>

                        <!-- Single Upcoming Shows -->
                        <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
                            <div class="shows-date">
                                <h2>23 <span>July</span></h2>
                            </div>
                            <div class="shows-desc d-flex align-items-center">
                                <div class="shows-img">
                                    <img src="static/img/bg-img/s2.jpg" alt="">
                                </div>
                                <div class="shows-name">
                                    <h6>Electric Festival</h6>
                                    <p>Manhathan, NY, USA</p>
                                </div>
                            </div>
                            <div class="shows-location">
                                <p>Main Stadium</p>
                            </div>
                            <div class="shows-time">
                                <p>21:30</p>
                            </div>
                            <div class="buy-tickets">
                                <!-- Facebook API -->
                                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
                                <div class="fb-share-button" data-href="https://avicii.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Favicii.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>

                        <!-- Single Upcoming Shows -->
                        <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
                            <div class="shows-date">
                                <h2>25 <span>July</span></h2>
                            </div>
                            <div class="shows-desc d-flex align-items-center">
                                <div class="shows-img">
                                    <img src="static/img/bg-img/s3.jpg" alt="">
                                </div>
                                <div class="shows-name">
                                    <h6>Sunflower festival</h6>
                                    <p>Paris, France</p>
                                </div>
                            </div>
                            <div class="shows-location">
                                <p>Sunflower Arena</p>
                            </div>
                            <div class="shows-time">
                                <p>20:30</p>
                            </div>
                            <div class="buy-tickets">
                                <!-- Facebook API -->
                                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
                                <div class="fb-share-button" data-href="https://avicii.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Favicii.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>

                        <!-- Single Upcoming Shows -->
                        <div class="single-upcoming-shows d-flex align-items-center flex-wrap">
                            <div class="shows-date">
                                <h2>30 <span>July</span></h2>
                            </div>
                            <div class="shows-desc d-flex align-items-center">
                                <div class="shows-img">
                                    <img src="static/img/bg-img/s4.jpg" alt="">
                                </div>
                                <div class="shows-name">
                                    <h6>Electric castle Festival</h6>
                                    <p>Cluj, Romania</p>
                                </div>
                            </div>
                            <div class="shows-location">
                                <p>At the Castle</p>
                            </div>
                            <div class="shows-time">
                                <p>20:30</p>
                            </div>
                            <div class="buy-tickets">
                                <!-- Facebook API -->
                                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
                                <div class="fb-share-button" data-href="https://avicii.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Favicii.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Upcoming Shows Area End ##### -->
    


 <!-- ##### Boostrap carousel ##### -->
 <div class="section-heading">
    <div style="background-image: url(static/img/bg-img/bg-4.jpg);">
    <h2>Done by Us</h2>
</div>
</div>
<!--Carousel Wrapper-->
<div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
    <li data-target="#video-carousel-example2" data-slide-to="1"></li>
    <li data-target="#video-carousel-example2" data-slide-to="2"></li>
    <li data-target="#video-carousel-example2" data-slide-to="3"></li>
    <li data-target="#video-carousel-example2" data-slide-to="4"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!-- First slide -->
    <div class="carousel-item active">
      <!--Mask color-->
      <div class="view">
        <!-- Youtube API Video  source-->
        <div class="embed-responsive embed-responsive-16by9">

           <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'R5LSIesWeXA',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
          </div>
        <div class="mask rgba-indigo-light"></div>
      </div>

      
    </div>
    <!-- /.First slide -->

    <!-- Second slide -->
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <!--Video Vimeo IFrame API source-->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
          </div>
        <div class="mask rgba-purple-slight"></div>
      </div>

      
    </div>
    <!-- /.Second slide -->

    <!-- Third slide -->
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
         <!-- Youtube API Video  source-->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5UGw_gsjgXA" allowfullscreen></iframe>
          </div>
        <div class="mask rgba-black-strong"></div>
      </div>
    </div>
    <!-- /.Third slide -->

    <!-- Fourth slide -->
    <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
           <!-- Youtube API Video  source-->
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g201HvrtqbY" allowfullscreen></iframe>
            </div>
          <div class="mask rgba-black-strong"></div>
        </div>
      </div>
      <!-- /.Fourth slide -->

      <!-- Fifth slide -->
    <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <!-- Youtube API Video  source-->
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/04Fjw2mgYpQ" allowfullscreen></iframe>
            </div>
          <div class="mask rgba-black-strong"></div>
        </div>
      </div>
      <!-- /.Fifth slide -->



  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--Carousel Wrapper-->
  <!-- ##### Boostrap carousel ##### -->

  

  <div class="section-heading">
    <div style="background-image: url(static/img/bg-img/bg-4.jpg);">
    <!--  API -->
        <h1>Search song</h1>
        <p><input type = text size = 10 name = a>
            <h1><span id = result>?</span></h1>
        <p><a href=# id=calculate>Search Song</a></p>
</div>
</div>




    <!-- ##### Featured Album Area Start ##### -->
    <div class="featured-album-area section-padding-100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="featured-album-content d-flex flex-wrap">

                        <!-- Album Thumbnail -->
                        <div class="album-thumbnail h-100 bg-img" style="background-image: url(static/img/bg-img/bg-4.jpg);"></div>
                        

                        <!-- Album Songs -->
                        <div class="album-songs h-300">

                            <!-- Album Info -->
                            <div class="album-info mb-50 d-flex flex-wrap align-items-center justify-content-between">
                                <div class="album-title">
                                    <h6>Featured album</h6>
                                    <h4>Love is all Around</h4>
                                </div>
                                
                            </div>

                            <div class="album-all-songs">

                                <!-- Music Playlist -->
                                <div class="music-playlist">
                                    <!-- Single Song -->
                                    <div class="single-music active">
                                        <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=300&height=300&color=ffffff&layout=dark&size=medium&type=charts&id=0&title=All&app_id=1" width="300" height="300"></iframe>
                                    <!-- Single Song -->
                                   

                                    <!-- Single Song -->
                                    <div class="single-music">
                                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204778816&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>

                                    <!-- Single Song -->
                                    <div class="single-music">
                                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/489198393&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>

                                    <!-- Single Song -->
                                    <div class="single-music">
                                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/281670564&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>

                                    <!-- Single Song -->
                                    <div class="single-music">
                                       
                                    </div>
                                 
                                </div>
                            </div>

                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Album Area End ##### -->
    


</p>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">

                

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-xl-2">
                    <div class="footer-widget-area mb-100">
                        <div class="widget-title">
                            <h4>About</h4>
                        </div>
                        <nav>
                            <ul class="footer-nav">
                                <li><a href="{{ url_for('index')}}">Home</a></li>
                                <li><a href="{{ url_for('aboutUs')}}">About Us</a></li>
                                <li><a href="{{ url_for('concertTours')}}">Concert &amp; Tours</a></li>
                                <li><a href="{{ url_for('blog')}}">News</a></li>
                                <li><a href="{{ url_for('contact')}}">Contact</a></li>
                                <li><a href="{{ url_for('elements')}}">Our Progress</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>


         <!-- Footer Widget Area -->
         <div class="col-12 col-sm-4 col-xl-2">
            <div class="footer-widget-area mb-100">
                <div class="widget-title">
                    <h4>Social</h4>
                </div>
                <nav>
                    <ul class="footer-nav">
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="https://twitter.com/">Twitter</a></li>
                        <li><a href="https://dribbble.com/">Snapchat</a></li>
                        <li><a href="https://www.behance.net/">Instagram</a></li>
                    </ul>
                </nav>
            </div>
        </div>



            </div>
        </div>

 <!-- Search API -->



        
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
</body>

</html>
